version: '3.9'

services:
  mongo:
    image: mongo:7
    container_name: ecom-mongo
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    container_name: ecom-backend
    restart: unless-stopped
    environment:
      NODE_ENV: development
      PORT: 5000
      MONGODB_URI: mongodb://mongo:27017/ecom_ddb
      JWT_ACCESS_SECRET: ${JWT_ACCESS_SECRET}
      JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET}
      JWT_ACCESS_EXPIRES_IN: 15m
      JWT_REFRESH_EXPIRES_IN: 7d
      BCRYPT_SALT_ROUNDS: 12
      CORS_ORIGIN: http://localhost:3000
      RATE_LIMIT_MAX: 200
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
      EMAIL_FROM: ${EMAIL_FROM}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASS: ${SMTP_PASS}
    ports:
      - '5000:5000'
    depends_on:
      - mongo

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    container_name: ecom-frontend
    restart: unless-stopped
    environment:
      NEXT_PUBLIC_API_BASE_URL: http://localhost:5000/api
    ports:
      - '3000:3000'
    depends_on:
      - backend

volumes:
  mongo_data:
